<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 过滤器 -->
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>gz.itcast.web.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	
	
  <servlet>
    <servlet-name>LoginServet</servlet-name>
    <servlet-class>gz.itcast.web.LoginServet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServet</servlet-name>
    <url-pattern>/LoginServet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
